/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */

$font-family-base: 'Lato',sans-serif,'Material Icons';
$font-size-base: 2.0rem;
$line-height-base: 3.2rem;
$font-weight-base: 400;


/**
 * Colors
 */

$text-color: rgba(0,0,0,1.0);
$body-bg: rgba(255,255,255,1.0);


$brand_colors-red: rgb(204,0,0);                      // regular red
$brand_colors-redD: rgb(147,0,0);                     // dark red
$brand_colors-redL: rgb(218,52,50);                   // light red
$brand_colors-black: rgb(0, 0, 0);                    // black
$brand_colors-white: rgb(255, 255, 254);              // white
$brand_colors-beige: rgb(236,230,213);                // beige
$brand_colors-grayW: rgb(151, 151, 151);              // warm gray




$wrapper-width: 100%;

$content-width: 94vw,80vw,65vw,50vw;

$gutter: 30px,20px,15px;

$header-height: 100px,80px;

$globalnav-height: 44px;
