/**
 * partials/header
 * ---
 */


header{

  width: $wrapper-width;
  position: fixed;
  background: rgba($brand_colors-black,1.0);
  flex: none;
  z-index: 1000;
  // border-bottom: solid rgba($brand_colors-grayW,1) 1px;
  margin-top: $globalnav-height;  // this accounts for the global header, need to move this to the css for the global header
  height: nth($header-height,1);
  & > div{
    width: auto;
    margin: 0 nth($gutter,1) 0 nth($gutter,1);
    display: block;
    height: 100%;
    position: relative;
    & > div.logo{
      margin: 0 0 0 0;
      width: 30%;
      height: 100%;
      & > a{
        border: none;
        display: block;
        height: 100%;
        & > svg{
          height: (nth($header-height,1) - (nth($gutter,2) * 2));
          margin: nth($gutter,2) 0 nth($gutter,2) 0;
        }
      }
    }
    & > form{
      position: absolute;
      right: 0;
      top: 10px;
      & > input{
        border: 0;
        background: none;
        border: none;
        @include font-2r-l;
        color: rgba($brand_colors-white,0.6);
        &:focus{
          border: none;
        }
      }
      & > input[type=text]{
        border-bottom: solid rgba($brand_colors-white,0.6) 1px;
        padding: 0 10px 0 5px;
        &:focus,
        &:hover,
        &:focus + input{
          color: rgba($brand_colors-white,1.0);
        }
      }
      & > input[type=submit]{
        margin: 0 0 0 10px;
        color: rgba($brand_colors-white,0.6);
        @include font-3r-l;
      }
    }
  }





  @media only screen and (max-width: 600px){
    height: nth($header-height,2);
    & > div{
      margin: 0 nth($gutter,3) 0 nth($gutter,3);
      div.logo{
        & > a{
          & > svg{
            height: (nth($header-height,2) - (nth($gutter,3) * 2));
            margin: nth($gutter,3) 0 nth($gutter,3) 0;
          }
        }
      }
    }
  }





}
